/* ==========================================================================
 SETTINGS
 Used with preprocessors and contain font, colors definitions, etc.
========================================================================== */

$black: #000000;
$white: #ffffff;

// Brand colours

$primaryColor: #1d252d;
$secondaryColor: #00ff00;

$default-font-size: 16;


// Fonts

$heading: 'League Spartan Bold', arial, sans-serif;
$body: 'Biryani', sans-serif;